<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OptimizerTestCS.Properties.Settings.dbconn" connectionString="Server=192.168.0.65;Database=OptTesting;Trusted_Connection=True"  />
  </connectionStrings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>  
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
