<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OptimizerTestCS.Properties.Settings.dbconn" connectionString="Server=AVS-271;Database=OptTesting;User Id=Optimizer;Password=Miniod1190;" />
  </connectionStrings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>  
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
